@import url(//fonts.googleapis.com/css?family=Lato:300,400|Satisfy);

body {
  color: rgb(34, 34, 34);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  letter-spacing: 7px;
  font-size: 12rem;
}

h4,h5 {
  font-size: 7rem;
  display: inline-block;
  margin-top: -1em;
  margin-bottom: -1em;
}

h4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  font-family: 'Satisfy', cursive;
}

h5 {
  letter-spacing: -10px;
  font-weight: 300;
}

.header {
  margin-top: 3rem;
}

.hello {
  text-align: left;
  font-weight: 300;
  font-size: 2rem;
}

.error {
  color: red;
}

.success {
  color: green;
}

.pams {
  display: none;
}

@media (max-width: 650px) {
  h4,h5 {
    font-size: 4rem;
    display: inline-block;
    margin-top: -1em;
    margin-bottom: -1em;
  }
}
